<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.serviceModel>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<bindings>
			<wsHttpBinding>
				<binding name="Padrao">
					<security mode="None">
						<transport clientCredentialType="None" />
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Padrao">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="MPSC.DomainDrivenDesign.Servicos.WCF.Seguranca.Autenticacao.UsuarioService" behaviorConfiguration="Padrao">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="Padrao" contract="MPSC.DomainDrivenDesign.Servicos.WCF.Seguranca.Autenticacao.IUsuarioService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>