<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RDBMS" value="SqlConnection" />
	</appSettings>
	<connectionStrings>
		<add name="SqlConnection" connectionString="Data Source=Server;Initial Catalog=Banco;User ID=Usuario;Password=Senha;MultipleActiveResultSets=True;" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>